<%-include('./includes/head')%>

<main>
    <form action="/addTask" method="post">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</main>

