<%- include('./includes/head')%>
    <main>
        <%- include('./includes/header') %>

        <div class="jumbotron">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">This is a simple app to keep for information safe and secure.</p>
            <hr class="my-4">
            <p>It's completely free sign up now!.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
            </p>
          </div>
    </main>
    
    <%- include('./includes/footer') %>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>