<%-include('./includes/head')%>
<main>
    <%-include('./includes/header')%>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome <%=name%></h1>
          
          <a class="btn btn-light btn-lg" href="/addtasks" role="button">Add Notes</a>
          <a class="btn btn-light btn-lg" href="/tasks" role="button">Get Notes</a>
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </div>
        
      </div>
</main>
<%-include('./includes/footer')%>

</body>
</html>